---
name: build
on:
  push:
    branches: [master]
jobs:
  test:
    name: run test
    runs-on: ubuntu-latest
    steps:
      - name: checkout repo
        uses: actions/checkout@v3
      - uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: moby-engine moby-cli docker-compose
          version: 1.0
#      - run: ./auto/test
      - run: ./auto/publish
